<% include partials/header %>


<div class="container landingContainer">
  <div class="jumbotron">
    <h1 class="display-3 align-center">Welcome to Simon's Designs<i class="fas fa-pencil-alt"></i></h1>
    <p class="lead align-center">Here you will find modern, sleek, and empowering designs for Youtube, Instagram, Merchandise, and More.</p>
    <hr class="my-4">
    <p class="lead align-center">
      <a class="btn btn-danger btn-lg" href="/designs" role="button">View Designs</a>
    </p>
  <div class="social-container">
    <h1 class="display-4 align-center">Follow me on social media!</h1>
    <div class="social-links">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <i class="img-center card-img-top fab fa-7x fa-instagram" alt="Card image cap"></i>
        <div class="card-body-center card-body">
          <a href="#" class="btn btn-primary">Instagram</a>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <i class="img-center card-img-top fab fa-7x fa-twitter" alt="Card image cap"></i>
        <div class="card-body-center card-body">
          <a href="#" class="btn btn-primary">Twitter</a>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card" >
          <i class="img-center card-img-top fab fa-7x fa-youtube" alt="Card image cap"></i>
        <div class="card-body-center card-body">
          <a href="#" class="btn btn-primary">Youtube</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>

</div>

</div>

















<% include partials/footer %>
