<% include partials/header %>
<div class="alert alert-success" role="alert">
  Your request was submitted!
</div>
<div class="container">
  <h1 class="align-center" style="font-size: 10em"> Thank You! </h1>
  <h2 class="align-center" style="font-size: 5em"> You will be DM'd shortly </h2>

</div>









<% include partials/footer %>
